<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Twitter Clone{% endblock %}</title>
    {% load static %}
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1 class="h3">Twitter Clone</h1>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'feed' %}">Feed</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'create_tweet' %}">Create Tweet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'user_profile' request.user.username %}">Meu Perfil</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Login</a></li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-primary ml-2" href="{% url 'account_signup' %}">Cadastre-se</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer-custom">
        <div class="container">
            <p>&copy; 2024 Twitter Clone</p>
        </div>
    </footer>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>